/* .card{
    margin: 5px;
    padding: 5px;
    background-color: rgb(234, 234, 234);
    justify-content: center;
    align-items: center;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 0 18px 200px -60px black;
    border: 2px solid ffffff40;
    
} */

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 350px;
  max-height: 500;
  margin: auto;
  text-align: center;
  flex: 1;
  margin: 30px 20px;
  padding: 0px 0px;
  width: 350px;
  height: 500px;
  /* background-color: #f49f1c; */
  background-color: #cdcdc0;

  font-family: "Arial, Helvetica, sans-serif";
  color: black;
  border: solid 1px rgb(223, 223, 223);
  border-radius: 5px;
}

.profile_image {
  margin-top: 20px;
  margin-bottom: 15px;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  object-fit: cover;
}
.profile_image_proxy {
  padding: 0;
  background-color: #626d71;
  border-radius: 5px;
}

.name_text {
  margin-top: 20px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: black;
}

.general_text {
  font-size: 18px;
  color: black;
  text-align: left;
  padding-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;

}
/* .phone_text,
.email_text,
.gender_text {
  font-size: 18px;
  color: black;
  text-align: left;
  padding-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;

} */
