<div class="card">
    <div class="profile_image_proxy">
        <img class="profile_image" src="{{student_data && student_data.profilePhoto}}" alt="image not available">
    </div>
    <div class="general_text" *ngIf="!!student_data">
        <div class="details_and_icon">
            <img class="profile_icons" src="../../../assets/icons/user.png" alt="">
            <p>{{student_data && student_data.firstName}} {{student_data && student_data.lastName}}</p>
        </div>
        <div class="details_and_icon">
            <img class="profile_icons" src="../../../assets/icons/gender.png" alt="">
            <p>{{student_data && student_data.gender}}</p>
        </div>
        <div class="details_and_icon">
            <img class="profile_icons" src="../../../assets/icons/phone.png" alt="">
            <p>{{student_data && student_data.phone}}</p>
        </div>
        <div class="details_and_icon">
            <img class="profile_icons" src="../../../assets/icons/email.png" alt="">
            <p>{{student_data && student_data.email}}</p>
        </div>
        <button class="more_details_button" [routerLink]="['/edit',student_data.id]">Edit</button>

    </div>
</div>