<!-- <div class="card">
    <label>First name: </label>
    <label>{{student_data.firstName}}</label>
    <br>
    <label>Last name:</label>
    <label>{{student_data.lastName}}</label>
    <br>
    <label>Gender:</label>
    <label>{{student_data.gender}}</label>
    <br>
    <label>Phone number:</label>
    <label >{{student_data.phone}}</label>
    <br>
    <label>Email address:</label>
    <label >{{student_data.email}}</label>

</div> -->

<div class="card">
    <h2>{{student_data.firstName}} {{student_data.lastName}}</h2>
    <p>{{student_data.gender}}</p>
    <p>Phone number: {{student_data.phone}}</p>
    <p>Email: {{student_data.email}}</p>
</div>