.pages{
    display: flex;
    justify-content: center;
    /* margin-left: center; */
    margin: 10px auto;
    /* padding-left: 0; */
    /* margin-left: 0; */
    /* padding-left: "100px"; */
    /* font-size: xx-small; */
  }

  .list-group{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
  }